*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #696969;
    padding: 10px 20px;
}
header h1 {
    color: #fff;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
form input {
    width: 40vw;
    padding: 5px 10px;
    margin: 0px 10px;
    outline: none;
}
form button {
    padding: 5px 10px;
    background-color: #0066ff;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
.container {
    padding: 10px 30px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    gap: 40px;
}
.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #fff;
}
.img-box {
    padding: 5px;
}
.img-box img {
    width: 250px;
    height: 200px;
    object-fit: fill;
    object-position: center;
}

@media screen and (max-width: 760px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    nav {
        padding: 5px 10px;
        margin: 10px 0px;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    form input {
        width: 70vw;
        padding: 5px;
        margin: 0px 5px;
    }
    form button {
        padding: 5px 10px;
    }
    .container {
        padding: 15px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}